Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

chore: remove deploy script
  deploy.ps1
Due: none

ci: cleanup workflow
  .github/workflows/main.yml
Due: prettier --write

fix: set working directory to script dir in SymLink.ps1
  SymLink.ps1
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0ab67d4a1976bfec1453ae5688cb2128b47e00f2
Due: none

fix: add recurse flag to GCI in SymLink script
  SymLink.ps1
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9d681655828dd70143e7b235e01e21a46267d6c9
Due: none

refactor: use manifest name for archive name
  archive.ps1
Due: none

feat: auto update scoop bucket
  .github/workflows/main.yml
  .releaserc.json
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1afd7afee7f36029ea28f01cd00da28e72b397e0
Due: none

refactor: only log error/warnings to errorlog
  StringUtils/NAVFoundation.StringUtils.axi
  TimelineUtils/NAVFoundation.TimelineUtils.axi
Due: genlinx build -s

fix: only get controller info and log message if we are in the main program
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(node): bump to 20.12.0
  .nvmrc
Due: none

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(core): update banner
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b1ae0dbd8c51947aa8221f5980b1084cafd003a9
Due: none

feat(cryptography): integrate md5 implementation
  Cryptography/NAVFoundation.Cryptography.Md5.axi
  Cryptography/NAVFoundation.Cryptography.Md5.h.axi
Due: genlinx build -s

feat(core): print information banner on boot
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(binary-utils): add aliases for bit rotation
  BinaryUtils/NAVFoundation.BinaryUtils.axi
Due: genlinx build -s

feat(errorlog-utils): print calling file name in library function logs
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

feat(device-priority-queue): add debug logging
  Queue/NAVFoundation.DevicePriorityQueue.axi
Due: genlinx build -s

fix(device-priority-queue): ensure timeline array size is set
  Queue/NAVFoundation.DevicePriorityQueue.axi
Due: genlinx build -s

fix(device-priority-queue): dont negate IsEmpty functions when checking if queue is empty
  Queue/NAVFoundation.DevicePriorityQueue.axi
Due: genlinx build -s

feat(cryptography): add initial sha1 implementation
  Cryptography/NAVFoundation.Cryptography.Sha1.axi
  Cryptography/NAVFoundation.Cryptography.Sha1.h.axi
Due: genlinx build -s

test: add tests workspace
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/md5.axs
  __tests__/src/sha1.axs
Due: genlinx build -s

feat(encoding): complete base64 implementation
  Encoding/NAVFoundation.Encoding.Base64.axi
  Encoding/NAVFoundation.Encoding.Base64.h.axi
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/base64.axs
Due: genlinx build -s

chore(node): bump to 20.14.0
  .nvmrc
Due: none

fix(socket-utils): ensure host address does not have whitespace at the beginning or end
  SocketUtils/NAVFoundation.SocketUtils.axi
Due: genlinx build -s

chore(node): bump to 20.15.0
  .nvmrc
Due: none

refactor(core): update banner information
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(inter-module-api): add extra functions
  InterModuleApi/NAVFoundation.InterModuleApi.axi
Due: genlinx build -s

refactor(string-utils): include null bytes in IsWhitespace
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add StringSlice function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(device-priority-queue): add GetLastMessage function
  Queue/NAVFoundation.DevicePriorityQueue.axi
Due: genlinx build -s

style(encoding): make bitwise ops more uniform
  Encoding/NAVFoundation.Encoding.axi
Due: genlinx build -s

feat(encoding): add function aliases for Big/Little endian convertion
  Encoding/NAVFoundation.Encoding.axi
Due: genlinx build -s

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.{axi,axs}
