Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

fix(file-utils): remove return offset in NAVGetFileSize
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

feat(file-utils): add debug logging to file copy/rename/delete functions
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

refactor(file-utils): return result of file close where appropriate
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

refactor(file-utils): remove debug log from file open function
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

feat(file-utils): add NAVDirectoryDelete function
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

fix(errorlog-utils): ensure NAVFormatLogToFile function returns a string
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

fix(errorlog-utils): ensure logs directory is created, overwise exit
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

refactor(errorlog-utils): remove redundant log messages
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5eb28fdda53da21cfcd85ad8ffb61ff9bf1a39d2
Due: none

refactor(file-utils): rename parameters in NAVFileRename function
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVLastIndexOf function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat: move path related function into new PathUtils library
  .genlinxrc.json
  FileUtils/NAVFoundation.FileUtils.axi
  PathUtils/NAVFoundation.PathUtils.axi
  PathUtils/README.md
  README.md
Due: prettier --write, genlinx build -s

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7cfcb9131ba4874ace3d254d9378544af2824904
Due: none

feat(string-utils): add NAVCharCodeAt function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

refactor(string-utils): remove superflous logging
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): complete NAVStringSlice function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(string-utils): fix NAVStringSubstring so returns the rest of string if count is 0
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(string-utils): fix bug with NAVFindAndReplace function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(string-utils): fix bug with NAVEndsWith function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(path-utils): add NAVPathName function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

fix(path-utils): revamp NAVPathDirName function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

fix(path-utils): fix bugs with NAVPathExtName function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

refactor(path-utils): remove redundant function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

feat(path-utils): add NAVPathIsAbsolute function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

feat(path-utils): add helper functions for identifying path slashes
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

feat(path-utils): add helper function to remove escaped backslashes
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

feat(path-utils): add NAVPathGetCwd function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

feat(path-utils): add NAVPathNormalize function
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

fix(path-utils): ensure escaped backslashes are removed
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

refactor(path-utils): remove redundant code
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

test(path-utils): add some basic tests
  .genlinxrc.json
  __tests__/NAVFoundation-Tests.apw
  __tests__/include/path-utils/NAVPathBaseName.axi
  __tests__/include/path-utils/NAVPathDirName.axi
  __tests__/include/path-utils/NAVPathExtName.axi
  __tests__/include/path-utils/NAVPathNormalize.axi
  __tests__/src/path-utils.axs
Due: prettier --write, genlinx build -s

feat(file-utils): use updated functions in new path library
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1dab16dc3b7423958003f2a2862e9f21413e0b46
Due: none

feat(path-utils): update NAVPathJoinPath function
  FileUtils/NAVFoundation.FileUtils.axi
  PathUtils/NAVFoundation.PathUtils.axi
  __tests__/include/path-utils/NAVPathJoinPath.axi
  __tests__/src/path-utils.axs
Due: genlinx build -s

feat(path-utils): rename NAVPathSplitPath
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

feat(path-utils): add NAVPathRelative and NAVPathResolve functions
  PathUtils/NAVFoundation.PathUtils.axi
  __tests__/include/path-utils/NAVPathRelative.axi
  __tests__/include/path-utils/NAVPathResolve.axi
  __tests__/src/path-utils.axs
Due: genlinx build -s

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *[^\.h].{axi,axs}
