Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

feat(http-utils): complete initial implementation
  .genlinxrc.yml
  Http/NAVFoundation.Http.axi
  Http/README.md
  HttpUtils/NAVFoundation.HttpUtils.axi
  HttpUtils/NAVFoundation.HttpUtils.h.axi
  HttpUtils/README.md
  README.md
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/http.axs
Due: prettier --write, genlinx build -s

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  10e440f29c39bb05aa19807b3a548fe1c6a774fd
Due: none

feat(http-utils): update NAVHttpRequestInit to take a _NAVUrl struct
  HttpUtils/NAVFoundation.HttpUtils.axi
  __tests__/src/http.axs
Due: genlinx build -s

ci: add workflow_dispatch
  .github/workflows/main.yml
Due: prettier --write

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  93461d6b061b801c448e308512e156c5c79d7ffc
Due: none

feat: add Stopwatch library
  .genlinxrc.yml
  README.md
  Stopwatch/NAVFoundation.Stopwatch.axi
  Stopwatch/NAVFoundation.Stopwatch.h.axi
  Stopwatch/README.md
Due: prettier --write

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(cryptography): output 20 byte digest for sha1 as per the RFC
  Cryptography/NAVFoundation.Cryptography.Sha1.axi
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/sha1.axs
Due: genlinx build -s

feat(cryptography): add initial aes128 implementation
  .genlinxrc.yml
  .lintstagedrc.json
  Cryptography/NAVFoundation.Cryptography.Aes128.axi
  Cryptography/NAVFoundation.Cryptography.Aes128.h.axi
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.axi
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.h.axi
  Encoding/NAVFoundation.Encoding.axi
  __tests__/NAVFoundation-Tests.apw
  __tests__/docs/aes/NIST.FIPS.197.pdf
  __tests__/include/aes128/NAVAes128AddRoundKey.axi
  __tests__/include/aes128/NAVAes128BufferToState.axi
  __tests__/include/aes128/NAVAes128ContextInit.axi
  __tests__/include/aes128/NAVAes128Decrypt.axi
  __tests__/include/aes128/NAVAes128DeriveKey.axi
  __tests__/include/aes128/NAVAes128ECBDecrypt.axi
  __tests__/include/aes128/NAVAes128ECBDecryptBlock.axi
  __tests__/include/aes128/NAVAes128ECBEncrypt.axi
  __tests__/include/aes128/NAVAes128ECBEncryptBlock.axi
  __tests__/include/aes128/NAVAes128EndToEndTests.axi
  __tests__/include/aes128/NAVAes128InvMixColumns.axi
  __tests__/include/aes128/NAVAes128InvShiftRows.axi
  __tests__/include/aes128/NAVAes128InvSubBytes.axi
  __tests__/include/aes128/NAVAes128KeyExpansion.axi
  __tests__/include/aes128/NAVAes128MixColumns.axi
  __tests__/include/aes128/NAVAes128Multiply.axi
  __tests__/include/aes128/NAVAes128PKCS7Pad.axi
  __tests__/include/aes128/NAVAes128PKCS7Unpad.axi
  __tests__/include/aes128/NAVAes128Shared.axi
  __tests__/include/aes128/NAVAes128ShiftRows.axi
  __tests__/include/aes128/NAVAes128StateToBuffer.axi
  __tests__/include/aes128/NAVAes128SubBytes.axi
  __tests__/include/aes128/NAVAes128XTime.axi
  __tests__/include/pbkdf2/NAVPbkdf2Benchmarks.axi
  __tests__/include/pbkdf2/NAVPbkdf2F.axi
  __tests__/include/pbkdf2/NAVPbkdf2GetRandomSalt.axi
  __tests__/include/pbkdf2/NAVPbkdf2HmacSha1.axi
  __tests__/include/pbkdf2/NAVPbkdf2Sha1.axi
  __tests__/include/pbkdf2/NAVPbkdf2Shared.axi
  __tests__/src/aes128.axs
  __tests__/src/pbkdf2.axs
Due: prettier --write, genlinx build -s

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c8e909116f7bcf245eb4627dcf4b11e3875b8065
Due: none

docs(aes): add initial docs file for aes128
  Cryptography/NAVFoundation.Cryptography.Aes128.md
Due: prettier --write

docs(aes): add docstrings
  Cryptography/NAVFoundation.Cryptography.Aes128.axi
  Cryptography/NAVFoundation.Cryptography.Aes128.h.axi
Due: genlinx build -s

docs(pbkdf2): add docstrings
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.axi
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.h.axi
Due: genlinx build -s

docs(sha1): add docstrings
  Cryptography/NAVFoundation.Cryptography.Sha1.axi
  Cryptography/NAVFoundation.Cryptography.Sha1.h.axi
Due: genlinx build -s

docs(md5): add docstrings
  Cryptography/NAVFoundation.Cryptography.Md5.axi
  Cryptography/NAVFoundation.Cryptography.Md5.h.axi
Due: genlinx build -s

docs(url): add docstrings
  Url/NAVFoundation.Url.axi
  Url/NAVFoundation.Url.h.axi
Due: genlinx build -s

docs(path-utils): add docstrings
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

docs(http-utils): add docstrings
  HttpUtils/NAVFoundation.HttpUtils.axi
  HttpUtils/NAVFoundation.HttpUtils.h.axi
Due: genlinx build -s

docs(array-utils): add doscstrings
  ArrayUtils/NAVFoundation.ArrayUtils.axi
  ArrayUtils/NAVFoundation.ArrayUtils.h.axi
  README.md
Due: prettier --write, genlinx build -s

docs(string-utils): add docstrings
  StringUtils/NAVFoundation.StringUtils.axi
  StringUtils/NAVFoundation.StringUtils.h.axi
Due: genlinx build -s

docs(math): add docstrings
  Math/NAVfoundation.Math.axi
Due: none

refactor: add some docstrings
  ArrayUtils/NAVFoundation.ArrayUtils.axi
  ArrayUtils/NAVFoundation.ArrayUtils.h.axi
  Cryptography/NAVFoundation.Cryptography.Aes128.axi
  Cryptography/NAVFoundation.Cryptography.Aes128.h.axi
  Cryptography/NAVFoundation.Cryptography.Md5.axi
  Cryptography/NAVFoundation.Cryptography.Md5.h.axi
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.axi
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.h.axi
  Cryptography/NAVFoundation.Cryptography.Sha1.axi
  Cryptography/NAVFoundation.Cryptography.Sha1.h.axi
  HttpUtils/NAVFoundation.HttpUtils.axi
  HttpUtils/NAVFoundation.HttpUtils.h.axi
  Math/NAVfoundation.Math.axi
  PathUtils/NAVFoundation.PathUtils.axi
  StringUtils/NAVFoundation.StringUtils.axi
  StringUtils/NAVFoundation.StringUtils.h.axi
  Url/NAVFoundation.Url.axi
  Url/NAVFoundation.Url.h.axi
Due: genlinx build -s

docs(encoding): add docstrings
  Encoding/NAVFoundation.Encoding.Base64.axi
  Encoding/NAVFoundation.Encoding.Base64.h.axi
  Encoding/NAVFoundation.Encoding.axi
Due: genlinx build -s

docs(datetime-utils): add docstrings
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.h.axi
Due: genlinx build -s

docs(errorlog-utils): add docstrings
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.h.axi
Due: genlinx build -s

docs(binary-utils): add docstrings
  BinaryUtils/NAVFoundation.BinaryUtils.axi
Due: genlinx build -s

docs(core): add docstrings
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

docs(file-utils): add docstrings
  FileUtils/NAVFoundation.FileUtils.axi
  FileUtils/NAVFoundation.FileUtils.h.axi
Due: genlinx build -s

docs(stopwatch): add docstrings
  Stopwatch/NAVFoundation.Stopwatch.axi
  Stopwatch/NAVFoundation.Stopwatch.h.axi
Due: none

docs(timeline-utils): add docstrings
  TimelineUtils/NAVFoundation.TimelineUtils.axi
Due: genlinx build -s

docs(socket-utils): add docstrings
  SocketUtils/NAVFoundation.SocketUtils.axi
Due: genlinx build -s

docs(snapi-helpers): add docstrings
  SnapiHelpers/NAVFoundation.SnapiHelpers.axi
  SnapiHelpers/NAVFoundation.SnapiHelpers.h.axi
Due: genlinx build -s

refactor: add some docstrings
  BinaryUtils/NAVFoundation.BinaryUtils.axi
  Core/NAVFoundation.Core.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.h.axi
  Encoding/NAVFoundation.Encoding.Base64.axi
  Encoding/NAVFoundation.Encoding.Base64.h.axi
  Encoding/NAVFoundation.Encoding.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.h.axi
  FileUtils/NAVFoundation.FileUtils.axi
  FileUtils/NAVFoundation.FileUtils.h.axi
  SnapiHelpers/NAVFoundation.SnapiHelpers.axi
  SnapiHelpers/NAVFoundation.SnapiHelpers.h.axi
  SocketUtils/NAVFoundation.SocketUtils.axi
  Stopwatch/NAVFoundation.Stopwatch.axi
  Stopwatch/NAVFoundation.Stopwatch.h.axi
  TimelineUtils/NAVFoundation.TimelineUtils.axi
Due: genlinx build -s

docs(aes): update readme
  Cryptography/NAVFoundation.Cryptography.Aes128.md
Due: prettier --write

docs(cryptography): add better docs
  Cryptography/NAVFoundation.Cryptography.Md5.md
  Cryptography/NAVFoundation.Cryptography.Pbkdf2.md
  Cryptography/NAVFoundation.Cryptography.Sha1.md
  Cryptography/README.md
Due: prettier --write

docs: add some more docs
  ArrayUtils/README.md
  HttpUtils/README.md
  README.md
  StringUtils/README.md
  package.json
Due: prettier --write

refactor: add initial updates
  Queue/NAVFoundation.Queue.axi
Due: genlinx build -s

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *[^\.h].{axi,axs}
