Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

fix(socket-utils): fix spelling error in socket logging
  SocketUtils/NAVFoundation.SocketUtils.axi
Due: genlinx build -s

ci: dont alter dependency versions
  .releaserc.json
  manifest.json
Due: prettier --write

chore(release): 1.26.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e1ccda3c6264670024350e31607e4d959c9f3fb2
Due: none

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(node): bump to 22.14.0
  .nvmrc
Due: none

perf(timeline-utils): remove unnecessary logging
  TimelineUtils/NAVFoundation.TimelineUtils.axi
Due: genlinx build -s

perf(socket-utils): remove unnecessary logging
  SocketUtils/NAVFoundation.SocketUtils.axi
Due: genlinx build -s

perf(string-utils): remove unnecessary logging
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

perf(rms-base): remove unnecessary logging
  RmsBase/NAVFoundation.RmsEvents.axi
Due: genlinx build -s

perf(module-base): remove unnecessary logging
  ModuleBase/NAVFoundation.ModuleBase.axi
Due: genlinx build -s

perf(file-utils): remove unnecessary logging
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

perf(mcp-base): remove unnecessary logging
  McpBase/NAVFoundation.McpBase.axi
Due: genlinx build -s

perf(errorlog-utils): remove unnecessary logging
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

perf(enova): remove unnecessary logging
  Enova/NAVFoundation.EnovaDxXBase.axi
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

perf(core): remove unnecessary logging
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(release): 1.26.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e5d2eddbbb837ac7dbfbbe240a8b0a99730483ac
Due: none

perf(string-utils): use set_length_array only once before returning
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

test(string-utils): add test for NAVSplitString
  __tests__/include/string-utils/NAVSplitString.axi
  __tests__/src/string-utils.axs
Due: genlinx build -s

perf(snapi-helpers): use set_length_array only once before return
  SnapiHelpers/NAVFoundation.SnapiHelpers.axi
Due: genlinx build -s

perf(logic-engine): use set_length_array only once before return
  LogicEngine/NAVFoundation.LogicEngine.axi
Due: genlinx build -s

chore(release): 1.26.3 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fdd2b2d286ab6a97157087d91789b4f4cfe42435
Due: none

feat(encoding): add NAVCharToLong
  Encoding/NAVFoundation.Encoding.axi
Due: genlinx build -s

feat(encoding): add specific ToByteArray functions for big/little endian
  Encoding/NAVFoundation.Encoding.axi
Due: genlinx build -s

feat: complete initial SHA1 implementation
  Cryptography/NAVFoundation.Cryptography.Sha1.axi
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/sha1.axs
Due: genlinx build -s

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cbf9b43385562393d40d98aec6548b859a7dafd3
Due: none

test(jsmn): add tests for jsmn
  Jsmn/NAVFoundation.Jsmn.axi
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/jsmn.axs
Due: genlinx build -s

feat: add Url library
  .genlinxrc.yml
  README.md
  Url/NAVFoundation.Url.axi
  Url/NAVFoundation.Url.h.axi
  Url/README.md
  __tests__/NAVFoundation-Tests.apw
  __tests__/src/url.axs
Due: prettier --write, genlinx build -s

chore(vscode): update workspace settings
  .vscode/settings.json
Due: prettier --write

ci: update workflow
  .github/workflows/main.yml
Due: prettier --write

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0a70011e47c77d177b31ccaf36766233f99c8586
Due: none

feat(url): add FullPath member to struct
  Url/NAVFoundation.Url.axi
  Url/NAVFoundation.Url.h.axi
  __tests__/src/url.axs
Due: genlinx build -s

feat(string-utils): add NAVStringNormalizeAndReplace function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

refactor(string-utils): remove unnecessary if statement
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVStringTainCase function + various updates
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

test(string-utils): add some more tests
  __tests__/include/string-utils/NAVStringCaseConversion.axi
  __tests__/include/string-utils/NAVStringReplace.axi
  __tests__/src/string-utils.axs
Due: genlinx build -s

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *[^\.h].{axi,axs}
