Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a65c8560504b7a655f1d77fa9a73b949c923090f
Due: none

feat(array-utils): add SetArray function for all types
  ArrayUtils/NAVFoundation.ArrayUtils.axi
Due: genlinx build -s

feat(array-utils): add types and functions for working with sets
  ArrayUtils/NAVFoundation.ArrayUtils.axi
  ArrayUtils/NAVFoundation.ArrayUtils.h.axi
Due: genlinx build -s

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62d2acbd94390d96055bb59c94a656542dcf1c38
Due: none

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(enova): add new renamed library files
  Enova/NAVFoundation.Enova.axi
  Enova/NAVFoundation.EnovaBase.axi
  Enova/NAVFoundation.EnovaDxX.axi
  Enova/NAVFoundation.EnovaDxXBase.axi
  Enova/NAVFoundation.EnovaDxXEvents.axi
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  46771ae362052fff67ca8ae51cd1196721258b3f
Due: none

feat(enova): add NAVEnovaSetVideoMuteStateArray function
  Enova/NAVFoundation.Enova.axi
Due: genlinx build -s

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  86573d17e0a4c866cbabd12f7f0758db4441573a
Due: none

refactor(regex): commit most recent updates
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
  __tests__/include/regex/NAVRegexCompile.axi
  __tests__/include/regex/NAVRegexMatch.axi
Due: genlinx build -s

feat(lexer): add a basic lexer library
  Lexer/NAVFoundation.Lexer.axi
  Lexer/README.md
Due: prettier --write, genlinx build -s

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8743368b3b7d319da8f91f29476de5361cf2484b
Due: none

refactor(enova): move events into events include
  Enova/NAVFoundation.EnovaBase.axi
  Enova/NAVFoundation.EnovaDvxBase.axi
  Enova/NAVFoundation.EnovaDxXBase.axi
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

feat(string-utils): add NAVStringBetweenGreedy function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add aliases for NAVContains, StartsWith, EndsWith
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

refactor(lexer): update type name
  Lexer/NAVFoundation.Lexer.axi
Due: genlinx build -s

refactor(regex): commit current updates
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
Due: genlinx build -s

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cbc336ad3c6b65050afa126d7c97cd2c62df21fc
Due: none

chore(deps): bumps deps
  pnpm-lock.yaml
Due: prettier --write

refactor(regex): commit recent updates
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
  Regex/README.md
Due: prettier --write, genlinx build -s

chore(ini-parser): add files
  .genlinxrc.yml
  IniParser/NAVFoundation.IniParser.axi
  IniParser/NAVFoundation.IniParser.h.axi
  IniParser/README.md
  Lexer/NAVFoundation.Lexer.axi
Due: prettier --write, genlinx build -s

test(regex): update tests
  __tests__/include/regex/NAVRegexCompile.axi
  __tests__/include/regex/NAVRegexMatch.axi
Due: genlinx build -s

refactor(regex): commit recent updates
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
  __tests__/include/regex/NAVRegexCompile.axi
  __tests__/include/regex/NAVRegexMatchCompiled.axi
  __tests__/src/regex.axs
Due: genlinx build -s

refactor(regex): commit current updates
  Regex/NAVFoundation.Regex.axi
  __tests__/include/regex/NAVRegexCompile.axi
  __tests__/include/regex/NAVRegexMatch.axi
  __tests__/src/regex.axs
Due: genlinx build -s

refactor(regex): commit recent updates
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
  __tests__/include/regex/NAVRegexMatch.axi
Due: genlinx build -s

refactor(regex): commit recent updates
  Regex/NAVFoundation.Regex.axi
  __tests__/include/regex/NAVRegexCompile.axi
  __tests__/src/regex.axs
Due: genlinx build -s

refactor(regex): commit recent updates
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
Due: genlinx build -s

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(regex): commit current updates
  Regex/NAVFoundation.Regex.axi
  __tests__/include/regex/NAVRegexMatch.axi
Due: genlinx build -s

chore(node): bump to 22.11.0
  .nvmrc
Due: none

chore(deps): bump deps
  pnpm-lock.yaml
Due: prettier --write

fix(core): display error is master encounters an onerror event
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(node): bump to 22.12.0
  .nvmrc
Due: none

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *[^\.h].{axi,axs}
