Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["prettier --write"],
    "*.{css,scss,md,html,json,yml,yaml}": ["prettier --write"],
    "*.{axi,axs}": ["genlinx build -s"]
}

refactor(rms-events): remove redundant code
  RmsBase/NAVFoundation.RmsEvents.axi
Due: genlinx build -s

feat(rms-events): add assets register event callback
  RmsBase/NAVFoundation.RmsEvents.axi
Due: genlinx build -s

feat(rms-events): add asset registered event callbacks
  RmsBase/NAVFoundation.RmsEvents.axi
  RmsBase/NAVFoundation.RmsUtils.axi
Due: genlinx build -s

feat(rms-events): add asset relocated event callback
  RmsBase/NAVFoundation.RmsEvents.axi
Due: genlinx build -s

feat(rms-events): add asset method event callback
  RmsBase/NAVFoundation.RmsEvents.axi
  RmsBase/NAVFoundation.RmsUtils.axi
Due: genlinx build -s

feat(rms-utils): add device to _NAVRmsSource struct
  RmsBase/NAVFoundation.RmsUtils.axi
Due: genlinx build -s

fix(string-utils): fix bug with NAVGetStringBetween
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add initial test file for string-utils library
  .genlinxrc.json
  Testing/NAVFoundation.Testing.axi
  __tests__/NAVFoundation-Tests.apw
  __tests__/include/string-utils/NAVGetStringBetween.axi
  __tests__/src/string-utils.axs
Due: prettier --write, genlinx build -s

feat(core): add some common state constants
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(semantic-release): update changelog config
  .changelogrc.json
  .releaserc.json
Due: prettier --write

chore(node): bump to 20.18.0
  .nvmrc
Due: none

chore(husky): update git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): bump deps
  pnpm-lock.yaml
Due: prettier --write

fix: fix release scripts
  .github/workflows/main.yml
  .releaserc.json
  SymLink.ps1
  archive.ps1
Due: prettier --write

chore(editorconfig): update config
  .editorconfig
Due: none

feat(stack): revert previous commit reducing default stack size
  Stack/NAVFoundation.Stack.h.axi
Due: genlinx build -s

feat(queue): revert previous commit reducing default queue size
  Queue/NAVFoundation.Queue.h.axi
Due: genlinx build -s

feat(hashtable): revert previous commit reducing default hashtable size
  HashTable/NAVFoundation.HashTable.h.axi
Due: genlinx build -s

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90b7c47dce433de3794e2189e93d4b92a0301dbc
Due: none

feat: add error logging to file functionality
  Core/NAVFoundation.Core.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.h.axi
  FileUtils/NAVFoundation.FileUtils.axi
  FileUtils/NAVFoundation.FileUtils.h.axi
Due: genlinx build -s

chore(lint-staged): dont build .h.axi files
  .lintstagedrc.json
Due: prettier --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  175ada13aeec3ccab3e7c047f2ad69b8c6a700cb
Due: none

perf(file-utils): replace while loop with direct seek to end of file
  FileUtils/NAVFoundation.FileUtils.axi
  FileUtils/NAVFoundation.FileUtils.h.axi
Due: genlinx build -s

refactor(file-utils): remove redundant code
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

feat(errorlog-utils): add error checking for getting file size
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

feat(errorlog-utils): add option to send standard logs to file
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.h.axi
Due: genlinx build -s

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bea6e2770cb1e270819acf648ed1c509d2a24c29
Due: none

feat(errorlog-utils): log to console when rotating log file
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c27ee74d00b5397fcc2d90a1db00cbc9befe20cc
Due: none

fix(errorlog-utils): provide full absolute path in rename destination
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  03fd0213f947ca299e8aaf59dd21bd307dd89da2
Due: none

fix(errorlog-utils): rename log files in reverse to not to overwrite
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  816d8f15c0014cdfa1e3f5460f52e60ed8984070
Due: none
