Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(rms-base): add compiler directive
  RmsBase/NAVFoundation.RmsEvents.axi
Due: genlinx build -s

ci: update workflow to use pwsh script
  .github/workflows/main.yml
  build.ps1
Due: prettier --write

chore: update repo urls
  .all-contributorsrc
  manifest.json
  package.json
Due: prettier --write

build: add new paths to local genlinx config
  .genlinxrc.json
Due: prettier --write

fix: temporary fix for weird error. need to investigate
  Console/NAVFoundation.DebugConsole.axi
Due: genlinx build -s

ci: add deploy script
  .github/workflows/main.yml
  deploy.ps1
Due: prettier --write

ci: add semantic-release step
  .changelogrc.json
  .github/workflows/.gitkeep
  .github/workflows/main.yml
  .npmrc
  .releaserc.json
  GitVersion.yml
  manifest.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(git): update gitattributes
  .gitattributes
Due: none

chore(git): update gitignore
  .gitignore
Due: none

chore(lint-staged): remove linting step
  .lintstagedrc.json
Due: prettier --write

chore(husky): update git hooks
  .husky/commit-msg
Due: none

chore(node): bump to 20.11.1
  .nvmrc
Due: none

build: use project version of genlinx for build
  build.ps1
Due: none

chore(license): update year
  LICENSE
Due: none

docs: update readme
  README.md
Due: prettier --write

feat(errorlog-utils): only log to debug console if it is defined
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

refactor(core): dont include debug and command console by default
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(enova): add some more helpers and constants
  Enova/NAVFoundation.EnovaDxX.axi
  Enova/NAVFoundation.EnovaDxXBase.axi
Due: genlinx build -s

fix(enova): add events include
  Enova/NAVFoundation.EnovaDxXEvents.axi
Due: genlinx build -s

chore: add xml-utils folder
  XmlUtils/.gitkeep
Due: none

fix(regex): fix compile errors in files
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.TinyRegex.axi
Due: genlinx build -s

ci: remove release notes from semantic-release commit
  .releaserc.json
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6404ab667783d958acb6ae04b80d58a623b072c4
Due: none

fix: fix ci to edit manifest correctly
  .releaserc.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  70b2b3ce6526c8c9e25be2d26537b38d2de39998
Due: none

fix: use correct key to issue command with semantic-release/exec
  .releaserc.json
Due: prettier --write

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  361d92dbe8d9478af5565af5111fe40c1e8581b1
Due: none

feat: add archive script to semantic-release config
  .releaserc.json
  archive.ps1
  manifest.json
  package.json
Due: prettier --write

refactor: remove version param from archive script
  archive.ps1
Due: none

fix: fix semantic-release config for added exec option
  .releaserc.json
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bd9775a62f662fbdbbd8559983ca5f891ca0f6e1
Due: none

feat: update symlink script to handle deleting symlinks
  SymLink.ps1
Due: none

feat: create sha256 sum of archive and add to releases
  .releaserc.json
  archive.ps1
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  356427a3b8c74ff234da2479e6485f16c709ebf5
Due: none

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.axi
