Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["prettier --write"],
    "*.{css,scss,md,html,json,yml,yaml}": ["prettier --write"],
    "*[^\\.h].{axi,axs}": ["genlinx build -s"]
}

Notes added by 'git notes add'
  f67248718ac2491aeb691592a64438d13009e166
Due: none

feat(file-utils): update NAVWalkDirectory function
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c67615ebb684148cb8b2f37db5d9319876c3ec4f
Due: none

refactor(file-utils): remove #disable_warning from NAVFileGetSize
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

fix(file-utils): if file_seek fails, ensure file is closed
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

fix(file-utils): use type_cast to fix compiler warnings
  FileUtils/NAVFoundation.FileUtils.axi
Due: genlinx build -s

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5602adb01869a6139fa133106ef5b9542b0dc919
Due: none

fix(string-utils): return char for boolean result functions
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(path-utils): fix type conversion warnings
  PathUtils/NAVFoundation.PathUtils.axi
Due: genlinx build -s

chore(release): 1.12.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ee37d144adda7bef8e42ddf3ba4502f44426a534
Due: none

chore(deps): bump deps
  pnpm-lock.yaml
Due: prettier --write

feat(string-utils): add param checks on strip functions
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

refactor(string-utils): re-use existing functions in aliases
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(string-utils): add param check in NAVIndexOf to prevent bad index
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVStringBetween alias
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVStringAfter alias
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVStringBefore alias
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVStringReplace alias
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(string-utils): fix bugs with NAVStringSubstring and NAVStringSlice
  StringUtils/NAVFoundation.StringUtils.axi
  __tests__/include/string-utils/NAVGetStringBetween.axi
  __tests__/include/string-utils/NAVStringSlice.axi
  __tests__/include/string-utils/NAVStringSubstring.axi
  __tests__/src/string-utils.axs
Due: genlinx build -s

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a9e80d07fcf538df307fb4c51607060b5c2aa0a2
Due: none

refactor(enova): commit current changes
  Enova/NAVFoundation.EnovaDxX.axi
  Enova/NAVFoundation.EnovaDxXBase.axi
  Enova/NAVFoundation.EnovaDxXEvents.axi
Due: genlinx build -s

refactor(string-utils): narrow byte type in trim functions
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

refactor(string-utils): reformat NAVIsWhitespace function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVIsSpace alias
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVIsAlpha function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVIsDigit function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVIsAlphaNumeric function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b19a1626cf7d86018dda2ac686f07c332cf8af81
Due: none

refactor(regex): commit work in progress changes
  .genlinxrc.json
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
  Regex/NAVFoundation.TinyRegex.axi
  Regex/re.c
  Regex/re.h
  __tests__/NAVFoundation-Tests.apw
  __tests__/include/regex/NAVRegexCompile.axi
  __tests__/include/regex/NAVRegexMatch.axi
  __tests__/src/regex.axs
Due: prettier --write, genlinx build -s

feat(queue): add more detailed logging
  Queue/NAVFoundation.Queue.axi
Due: genlinx build -s

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  53c1cfef50e782d3d5fcdab07e406aad4c26f99a
Due: none

refactor(device-priority-queue): remove redundant code
  Queue/NAVFoundation.DevicePriorityQueue.axi
Due: genlinx build -s

fix(queue): ensure count is set to 0 on init
  Queue/NAVFoundation.Queue.axi
Due: genlinx build -s

chore(genlinx): change config to yaml format
  .genlinxrc.json
  .genlinxrc.yml
Due: prettier --write
