Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["prettier --write"],
    "*.{css,scss,md,html,json,yml,yaml}": ["prettier --write"],
    "*[^\\.h].{axi,axs}": ["genlinx build -s"]
}

chore(release): 1.20.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a5cf91173bb2f7d738f801c3a87a6a06746d03f
Due: none

refactor(errorlog-utils): move log levels into array
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.h.axi
Due: genlinx build -s

feat(enova): add audio xpoint definitions and helper functions
  Enova/NAVFoundation.Enova.axi
Due: genlinx build -s

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e29e3f033db1e592192fefcf697efdde8e05b2e
Due: none

fix(enova): correct output labels and add output 4
  Enova/NAVFoundation.Enova.axi
Due: genlinx build -s

chore(release): 1.21.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  025d5c4b216654d521a8b5e4546aaad52f9d79ae
Due: none

fix(module-base): dont populate Property event.Args if there are none
  ModuleBase/NAVFoundation.ModuleBase.axi
Due: genlinx build -s

fix(enova-events): display onerror correctly
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

feat(core): get and show switcher device info if available
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8c4f9c14bb910f1c2c70e71a201998bd531d8a18
Due: none

feat(snapi-helpers): add constant for switch level count
  SnapiHelpers/NAVFoundation.SnapiHelpers.h.axi
Due: none

feat(snapi-helper): add ParamaterCount member to NAVSnapiMessage type
  SnapiHelpers/NAVFoundation.SnapiHelpers.axi
  SnapiHelpers/NAVFoundation.SnapiHelpers.h.axi
Due: genlinx build -s

feat(enova): allow for up to 81 ports on switch device
  Enova/NAVFoundation.EnovaDvxBase.axi
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f1b42692a98487ea663fad2d3420f0d7d555481
Due: none

feat(enova): add constant for mac inputs/outputs
  Enova/NAVFoundation.Enova.axi
Due: genlinx build -s

feat(enova): add constant for switch level count
  Enova/NAVFoundation.Enova.axi
Due: genlinx build -s

feat(enova): add new functions for dynamically getting IO info
  Enova/NAVFoundation.Enova.axi
Due: genlinx build -s

feat(enova): compare current port to port count for ready status
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2925b19ff86db8686df0cd655f01b4783324e806
Due: none

feat(enova): add SWITCH event callback
  Enova/NAVFoundation.Enova.axi
  Enova/NAVFoundation.EnovaEvents.axi
Due: genlinx build -s

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e12bec8241eda34b8f7b7402858beeacb8db4417
Due: none

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(node): bump to 22.13.1
  .nvmrc
Due: none

chore(manifest): add dependencies
  manifest.json
Due: prettier --write

chore(deps): add dropnode
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add install script
  install.ps1
Due: none

ci: update workflow
  .github/workflows/main.yml
Due: prettier --write

chore: update install script
  .genlinxrc.yml
  install.ps1
Due: prettier --write

build: ignore files in history and vendor directories
  build.ps1
Due: none

feat(socket-utils): add helper functions for ssh client open/close
  SocketUtils/NAVFoundation.SocketUtils.axi
Due: genlinx build -s

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7b93f6acf8c8e54c06fc19cf2012fb864880ed0f
Due: none
