Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["yarn lint:fix", "prettier --write"],
    "*.{css,scss,md,html,json,yml,yaml}": ["prettier --write"],
    "*.axi": ["genlinx build -s"]
}

feat(core): add serial port and data event types
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(http): add start of http library
  Http/NAVFoundation.Http.axi
  Http/NAVFoundation.Http.h.axi
  Http/README.md
Due: prettier --write, genlinx build -s

feat(timedate-utils): add timespec type
  DateTimeUtils/NAVFoundation.DateTime.h.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
Due: genlinx build -s

feat(timedate-utils): add timespec type
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.h.axi
Due: genlinx build -s

feat(redis): add basic redis library
  Redis/NAVFoundation.Redis.axi
  Redis/NAVFoundation.Redis.h.axi
  Redis/README.md
Due: prettier --write, genlinx build -s

feat(array-utils): add SetArray functions
  ArrayUtils/NAVFoundation.ArrayUtils.axi
Due: genlinx build -s

chore: switch to pnpm from yarn and update deps
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore(node): bump to 20.9.0
  .nvmrc
Due: none

refactor(module-base): add device property to property event
  ModuleBase/NAVFoundation.ModuleBase.axi
  ModuleBase/NAVFoundation.ModuleBase.h.axi
Due: genlinx build -s

refactor(module-base): add passthru event type
  ModuleBase/NAVFoundation.ModuleBase.axi
  ModuleBase/NAVFoundation.ModuleBase.h.axi
Due: genlinx build -s

refactor(module-base): update errorlog function
  ModuleBase/NAVFoundation.ModuleBase.axi
Due: genlinx build -s

fix(module-base): fix compiler directive for vdvObject events
  ModuleBase/NAVFoundation.ModuleBase.axi
Due: genlinx build -s

docs(module-base); add readme
  ModuleBase/README.md
Due: prettier --write

chore(base64): move to Encoding folder
  Encoding/NAVFoundation.Encoding.Base64.axi
  Encoding/NAVFoundation.Encoding.Base64.h.axi
  Encoding/README.md
Due: prettier --write, genlinx build -s

feat(array-utils): add new functions
  ArrayUtils/NAVFoundation.ArrayUtils.axi
Due: genlinx build -s

feat(encoding): add Encoding library
  Encoding/NAVFoundation.Encoding.axi
Due: genlinx build -s

refactor(timeline-utils): dont log to error log
  TimelineUtils/NAVFoundation.TimelineUtils.axi
Due: genlinx build -s

feat(string-utils): add NAVStringSurround function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

feat(core): add new NAVBooleanToOnOffString
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(rms-events): disable some event logging
  RmsBase/NAVFoundation.RmsEvents.axi
Due: genlinx build -s

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(node): bumtp 20.10.0
  .nvmrc
Due: none

feat(datetime-utils): add functions for working with epoch
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.h.axi
Due: genlinx build -s

feat(core): add array of devices to _NAVModule type
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(rms): add function for rms connection
  RmsBase/NAVFoundation.RmsEvents.axi
  RmsBase/NAVFoundation.RmsUtils.axi
Due: genlinx build -s

feat(ntp-client): add library for working with ntp
  NtpClient/NAVFoundation.NtpClient.axi
  NtpClient/NAVFoundation.NtpClientBase.axi
  NtpClient/README.md
Due: prettier --write, genlinx build -s

feat(dxx): add library for working with DxX devices
  Enova/NAVFoundation.EnovaDxX.axi
  Enova/NAVFoundation.EnovaDxXBase.axi
  Enova/README.md
Due: prettier --write, genlinx build -s

refactor(error-log-utils): always log to debug console
  ErrorLogUtils/NAVFoundation.ErrorLogUtils.axi
Due: genlinx build -s

ci: update build cfgs
  NAVFoundation.build.cfg
  NAVFoundation.ci.build.cfg
Due: none

feat(date-time-utils): begin adding dst logic
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.h.axi
Due: genlinx build -s

refactor(ntp-client): update clock syncing logic
  .genlinxrc.json
  NAVFoundation.build.cfg
  NAVFoundation.ci.build.cfg
  NtpClient/NAVFoundation.NtpClient.axi
  NtpClient/NAVFoundation.NtpClientBase.axi
Due: prettier --write, genlinx build -s

chore(vscode): update workspace settings
  .vscode/settings.json
Due: prettier --write

feat: add tui library
  Console/NAVFoundation.DebugConsole.axi
  NAVFoundation.build.cfg
  NAVFoundation.ci.build.cfg
  Tui/NAVFoundation.Tui.axi
  Tui/NAVFoundation.Tui.h.axi
  Tui/README.md
Due: prettier --write, genlinx build -s

build: remove build cfgs and use pwsh script instead
  NAVFoundation.build.cfg
  NAVFoundation.ci.build.cfg
  build.ps1
Due: none

feat: add md5 library
  Cryptography/NAVFoundation.Cryptography.Md5.axi
  Cryptography/NAVFoundation.Cryptography.Md5.h.axi
Due: genlinx build -s

feat: add inter-module api library
  InterModuleApi/NAVFoundation.InterModuleApi.axi
  InterModuleApi/README.md
Due: prettier --write, genlinx build -s

feat: add start of json library
  Json/NAVFoundation.Json.axi
  Json/NAVFoundation.Json.h.axi
  Json/README.md
Due: prettier --write, genlinx build -s

feat: add start of regex library
  Regex/NAVFoundation.Regex.axi
  Regex/NAVFoundation.Regex.h.axi
  Regex/NAVFoundation.TinyRegex.axi
  Regex/README.md
  Regex/re.c
  Regex/re.h
Due: prettier --write, genlinx build -s
