Repository Norgate-AV/NAVFoundation.Amx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, genlinx build -s

feat(core): add SendLevel functions
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(inter-module-api): add object init function
  InterModuleApi/NAVFoundation.InterModuleApi.axi
Due: genlinx build -s

feat(core): add Initialized fields to state structs
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(core): add Socket number field to SocketConnection struct
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(core): add Aspect state field to Display struct
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(core): add Freeze state field to Projector struct
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(inter-module-api): prefix functions with library name
  InterModuleApi/NAVFoundation.InterModuleApi.axi
Due: genlinx build -s

feat(inter-module-api): add GetObjectRegistrationCount function
  InterModuleApi/NAVFoundation.InterModuleApi.axi
Due: genlinx build -s

feat(module-base): add ID and BAUDRATE constants
  ModuleBase/NAVFoundation.ModuleBase.h.axi
Due: genlinx build -s

fix(queue): ensure head/tail indexes dont equate to 0
  Queue/NAVFoundation.Queue.axi
Due: genlinx build -s

feat(core): add NAVDeviceIsOnline function
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

chore(node): bump to 20.15.1
  .nvmrc
Due: none

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(husky): update hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): add conventional-changelog-conventionalcommits package
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(node): bumpt to 20.16.0
  .nvmrc
Due: none

refactor(core): use constant long arrays for timeline intervals
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(core): print warning to console if __MAIN__ is not defined
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

feat(data-time-utils): add networktime setup
  DateTimeUtils/NAVFoundation.DateTimeUtils.axi
  DateTimeUtils/NAVFoundation.DateTimeUtils.h.axi
Due: genlinx build -s

refactor(device-priority-queue): comment out superflous debug logging
  Queue/NAVFoundation.DevicePriorityQueue.axi
Due: genlinx build -s

chore(node): bump to 20.17.0
  .nvmrc
Due: none

build: exclude test files from build script
  build.ps1
Due: none

fix(string-utils): apply fix for NAVFindAndReplace function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

fix(string-utils): fix NAVSplitString function
  StringUtils/NAVFoundation.StringUtils.axi
Due: genlinx build -s

refactor(core): fix spelling error
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

style(core): add line break
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(core): re-align struct members
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(core): remove superflous include refs
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(core): remove global controller variable
  Core/NAVFoundation.Core.axi
Due: genlinx build -s

refactor(stack): reduce max stack size to 200
  Stack/NAVFoundation.Stack.axi
  Stack/NAVFoundation.Stack.h.axi
Due: genlinx build -s

refactor(queue): reduce max queue items to 200
  Queue/NAVFoundation.Queue.h.axi
Due: genlinx build -s

refactor(priority-queue): re-align struct members
  Queue/NAVFoundation.DevicePriorityQueue.h.axi
Due: genlinx build -s

refactor(logic-engine): re-align struct members
  LogicEngine/NAVFoundation.LogicEngine.axi
Due: genlinx build -s

refactor(logic-engine): rename global engine variable
  LogicEngine/NAVFoundation.LogicEngine.axi
Due: genlinx build -s

refactor(hash-table): reduce max hashtable size to 200
  HashTable/NAVFoundation.HashTable.axi
  HashTable/NAVFoundation.HashTable.h.axi
Due: genlinx build -s

refactor(md5): remove redundant code
  Cryptography/NAVFoundation.Cryptography.Md5.axi
Due: genlinx build -s

feat(inter-module-api): add start_polling command header
  InterModuleApi/NAVFoundation.InterModuleApi.axi
Due: genlinx build -s

chore(symlink): remove recurse flag
  SymLink.ps1
Due: none

Path conditions:
  prettier --write: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.{axi,axs}
